@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Font color: black */
  --background-rgb: 255, 255, 255; /* Background color: white */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* globals.css */
.icon-wrapper {
  width: 2em;
  height: 2em;
  display: inline-block;
  margin-right: 1em;
}

/* Customize the scrollbar for the entire page */
html::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: transparent; /* Background color of the scrollbar track */
}

html::-webkit-scrollbar-thumb {
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
  background-color: rgba(0, 0, 0, 0.3); /* Background color of the scrollbar thumb */
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Darken the scrollbar thumb on hover */
}

/* For Firefox, use scrollbar-width and scrollbar-color */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.markdown > * {
  all: revert;
}